<link rel="stylesheet" href="/stylesheets/style.css" />
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users">User</a></li>
    <li><a href="/data/invoiceno">Index Search</a></li>
    <li class="dropdown">
      <a href="/data">Data</a>
      <div class="dropdown-content">
        <a href="/alldata">All Data</a>
        <a href="/allclassdata">Data (no empty class)</a>
      </div>
    </li>

    <li class="dropdown">
      <a href="#">Search</a>
      <div class="dropdown-content">
        <a href="/search/invoiceno">Invoice Number</a>
        <a href="/search/manufacturer">Manufacturer</a>
      </div>
    </li>
  </ul>
</nav>
<div class="waves">
  <div class="wave" id="wave1"></div>
  <div class="wave" id="wave2"></div>
  <div class="wave" id="wave3"></div>
  <div class="wave" id="wave4"></div>
</div>
<h4>Saurabh Sharma</h4>
<p>N01543808</p>